
body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

table {
  text-align: left;
  white-space: pre-wrap;
}

td, th {
  vertical-align: top;
}

button, input, textarea, select {
  padding: 0.25rem 0.5rem;
}

input, textarea, select, table {
  width: 100%;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}